<a href="https://colab.research.google.com/github/Roberto-he/TFM_RHG/blob/main/TFM_FIRE_RHG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PREPOCESAMIENTO Y CALIDA DE DATOS

# OBJETIVO 

Con el bjetivo de este proyecto es buscar los incendios reales que se producen en Londres

El dataset utilizdo ha sido publicado por la la brigada de incendios de londres (LFB)


Las tareas realizadas sobre el data set son:
- Limpiar el dataset y tratar los valores "NaN"
- Buscar datos perdidos
- Balanceo de datos 
- Analizar los datos analiticamente y con graficas
- Buscar un algoritmo para predecir cuando hay un incendio o cuando es una falsa alarma.

# IMPORTAMOS LAS LIBRERIAS NECESARIAS

#LIBRERIAS

In [3]:
# carga de datos
import pandas as pd
import io
from google.colab import files
# manipulación y visualización
import matplotlib.pyplot as plt
import numpy as np
import itertools
import seaborn as sns

#CARGA DE DATASET DE GRAN TAMANYO EN GOOGLE DRIVE

##CONVERSION DEL DATASET A CSV

In [ ]:
def upload_files ():
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    df = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')))
    return df

In [ ]:
def upload_files_xls ():
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    df = pd.read_excel(io.StringIO(uploaded[fn].decode('utf-8')))
    return df

In [ ]:
df1 = upload_files_xls()
df1.head()

KeyboardInterrupt: ignored

In [ ]:
df2 = upload_files_xls()
df2.head()

In [ ]:
df3 = upload_files_xls()
df3.head()

##UNION DE LOS DATASETS

In [ ]:
#Unir las 3 bases de datos
frames = [df1, df2, df3]

df_excel = pd.concat(frames)

NameError: ignored

In [ ]:
#Pasar a CSV
df_excel.to_csv('LFB incident 2009-2021.csv', index=False)

In [ ]:
#Exportar CSV

from google.colab import files

with open('LFB incident 2009-2021.csv', 'w') as f:
  df.to_csv(f,  index = False)
  

files.download('LFB incident 2009-2021.csv')

df.head()

In [ ]:
df=pd.read_csv("LFB incident 2009-2021.csv")
df

FileNotFoundError: ignored

## UNZIP
Al ser un archivo muy pesado lo subo a ggole colab comprimido. Ya en colab lo descomprimo

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

KeyboardInterrupt: ignored

In [ ]:
!unrar x  '/gdrive/My Drive/TFM-Roberto_Hernandez/LFB_incident_2009-2021.rar'  "/gdrive/My Drive/TFM-Roberto_Hernandez/"

UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from /gdrive/My Drive/TFM-Roberto_Hernandez/LFB_incident_2009-2021.rar


Would you like to replace the existing file /gdrive/My Drive/TFM-Roberto_Hernandez/LFB incident 2009-2021.csv
404264164 bytes, modified on 2021-05-23 12:27
with a new one
404264164 bytes, modified on 2021-05-23 12:27

[Y]es, [N]o, [A]ll, n[E]ver, [R]ename, [Q]uit
User break

User break

'LFB incident 2009-2021.csv'

#CARGA DATASETS

##DATASET INCENDIOS

In [9]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [10]:

from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
#Url: 
df = pd.read_csv('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/LFB incident 2009-2021.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  IncidentNumber  DateOfCall  ...  PumpHoursRoundUp Notional Cost (£)
0      235138081  2009-01-01  ...               NaN               NaN
1           1091  2009-01-01  ...               NaN               NaN
2           2091  2009-01-01  ...               NaN               NaN
3           3091  2009-01-01  ...               NaN               NaN
4           5091  2009-01-01  ...               NaN               NaN

[5 rows x 38 columns]

In [ ]:
#Vemos la aparte de abajo de nuestro dataset
df.tail()

          IncidentNumber  DateOfCall  ...  PumpHoursRoundUp Notional Cost (£)
1333065  050590-30042021  2021-04-30  ...               1.0             352.0
1333066  050431-30042021  2021-04-30  ...               1.0             352.0
1333067  050653-30042021  2021-04-30  ...               1.0             352.0
1333068  050428-30042021  2021-04-30  ...               1.0             352.0
1333069  050249-30042021  2021-04-30  ...               1.0             352.0

[5 rows x 38 columns]

In [ ]:
# tamno del dataset
df.shape

(1333070, 38)

In [ ]:
# Informacion asociada al dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1333070 entries, 0 to 1333069
Data columns (total 38 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   IncidentNumber                          1333070 non-null  object
 1   DateOfCall                              1333070 non-null  object
 2   CalYear                                 1333070 non-null  int64
 3   TimeOfCall                              1333070 non-null  object
 4   HourOfCall                              1333070 non-null  int64
 5   IncidentGroup                           1333069 non-null  object
 6   StopCodeDescription                     1333069 non-null  object
 7   SpecialServiceType                      408181 non-null   object
 8   PropertyCategory                        1333069 non-null  object
 9   PropertyType                            1333069 non-null  object
 10  AddressQualifier                        1333070 non-null  object
 11  Postcode_full                           703227 non-null   object
 12  Postcode_district                       1333070 non-null  object
 13  IncGeo_BoroughCode                      1333070 non-null  object
 14  IncGeo_BoroughName                      1333070 non-null  object
 15  ProperCase                              1333070 non-null  object
 16  IncGeo_WardCode                         1333070 non-null  object
 17  IncGeo_WardName                         1333070 non-null  object
 18  IncGeo_WardNameNew                      1333070 non-null  object
 19  Easting_m                               703227 non-null   float64
 20  Northing_m                              703227 non-null   float64
 21  Easting_rounded                         1333070 non-null  int64
 22  Northing_rounded                        1333070 non-null  int64
 23  FRS                                     1333070 non-null  object
 24  IncidentStationGround                   1333070 non-null  object
 25  FirstPumpArriving_AttendanceTime        1098340 non-null  float64
 26  FirstPumpArriving_DeployedFromStation   1098330 non-null  object
 27  SecondPumpArriving_AttendanceTime       170096 non-null   float64
 28  SecondPumpArriving_DeployedFromStation  170092 non-null   object
 29  NumStationsWithPumpsAttending           1325384 non-null  float64
 30  NumPumpsAttending                       1325384 non-null  float64
 31  UPRN                                    444029 non-null   float64
 32  USRN                                    444029 non-null   float64
 33  Latitude                                216803 non-null   float64
 34  Longitude                               216803 non-null   float64
 35  PumpCount                               442005 non-null   float64
 36  PumpHoursRoundUp                        441865 non-null   float64
 37  Notional Cost (£)                       441865 non-null   float64
dtypes: float64(13), int64(4), object(21)
memory usage: 386.5+ MB

In [ ]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

IncidentGroup                                   1
StopCodeDescription                             1
SpecialServiceType                         924889
PropertyCategory                                1
PropertyType                                    1
Postcode_full                              629843
Easting_m                                  629843
Northing_m                                 629843
FirstPumpArriving_AttendanceTime           234730
FirstPumpArriving_DeployedFromStation      234740
SecondPumpArriving_AttendanceTime         1162974
SecondPumpArriving_DeployedFromStation    1162978
NumStationsWithPumpsAttending                7686
NumPumpsAttending                            7686
UPRN                                       889041
USRN                                       889041
Latitude                                  1116267
Longitude                                 1116267
PumpCount                                  891065
PumpHoursRoundUp                           891205
Notional Cost (£)                          891205
dtype: int64

In [ ]:
# Buscamos valores perdidos
df.isna().sum()

IncidentNumber                                  0
DateOfCall                                      0
CalYear                                         0
TimeOfCall                                      0
HourOfCall                                      0
IncidentGroup                                   1
StopCodeDescription                             1
SpecialServiceType                         924889
PropertyCategory                                1
PropertyType                                    1
AddressQualifier                                0
Postcode_full                              629843
Postcode_district                               0
IncGeo_BoroughCode                              0
IncGeo_BoroughName                              0
ProperCase                                      0
IncGeo_WardCode                                 0
IncGeo_WardName                                 0
IncGeo_WardNameNew                              0
Easting_m                                  629843
Northing_m                                 629843
Easting_rounded                                 0
Northing_rounded                                0
FRS                                             0
IncidentStationGround                           0
FirstPumpArriving_AttendanceTime           234730
FirstPumpArriving_DeployedFromStation      234740
SecondPumpArriving_AttendanceTime         1162974
SecondPumpArriving_DeployedFromStation    1162978
NumStationsWithPumpsAttending                7686
NumPumpsAttending                            7686
UPRN                                       889041
USRN                                       889041
Latitude                                  1116267
Longitude                                 1116267
PumpCount                                  891065
PumpHoursRoundUp                           891205
Notional Cost (£)                          891205
dtype: int64

In [ ]:
df["IncidentGroup"].unique()

array(['Special Service', 'Fire', 'False Alarm', nan], dtype=object)

In [ ]:
df.loc[df['IncidentGroup'] == "False Alarm"]

          IncidentNumber  DateOfCall  ...  PumpHoursRoundUp Notional Cost (£)
5                   6091  2009-01-01  ...               NaN               NaN
9                  11091  2009-01-01  ...               NaN               NaN
14                 20091  2009-01-01  ...               NaN               NaN
16                 18091  2009-01-01  ...               NaN               NaN
22                 39091  2009-01-01  ...               NaN               NaN
...                  ...         ...  ...               ...               ...
1333055  050377-30042021  2021-04-30  ...               1.0             352.0
1333057  050336-30042021  2021-04-30  ...               NaN               NaN
1333059  050234-30042021  2021-04-30  ...               1.0             352.0
1333060  050414-30042021  2021-04-30  ...               1.0             352.0
1333064  050345-30042021  2021-04-30  ...               1.0             352.0

[656647 rows x 38 columns]

###LIMPIEZA

## DATASET PRECIO VIVIENDA

In [ ]:
viviendas = pd.read_excel('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/ratio-house-price-earnings-residence-based.xlsx')
viviendas.head()

    New Code Old Code                  Area  2002  ...   2017   2018   2019   2020
0        NaN      NaN                   NaN   NaN  ...    NaN    NaN    NaN    NaN
1  E09000001     00AA        City of London  6.29  ...      :  16.55      :      :
2  E09000002     00AB  Barking and Dagenham  4.68  ...     10  10.40  10.75   9.63
3  E09000003     00AC                Barnet  7.42  ...   13.7  14.45  14.19  15.93
4  E09000004     00AD                Bexley  5.56  ...  10.01  10.04   9.61   9.28

[5 rows x 22 columns]

In [ ]:
viviendas=viviendas.rename(columns={"New Code": "IncGeo_BoroughCode", "Area":"ProperCase"})
viviendas

   IncGeo_BoroughCode Old Code                ProperCase  ...   2018   2019   2020
0                 NaN      NaN                       NaN  ...    NaN    NaN    NaN
1           E09000001     00AA            City of London  ...  16.55      :      :
2           E09000002     00AB      Barking and Dagenham  ...  10.40  10.75   9.63
3           E09000003     00AC                    Barnet  ...  14.45  14.19  15.93
4           E09000004     00AD                    Bexley  ...  10.04   9.61   9.28
5           E09000005     00AE                     Brent  ...  16.32  15.59  14.49
6           E09000006     00AF                   Bromley  ...  11.00  10.73  10.55
7           E09000007     00AG                    Camden  ...  18.23  18.27  18.81
8           E09000008     00AH                   Croydon  ...  10.46  10.97  10.41
9           E09000009     00AJ                    Ealing  ...  14.16  14.79   13.2
10          E09000010     00AK                   Enfield  ...  12.94  12.34  12.51
11          E09000011     00AL                 Greenwich  ...  11.95  12.72     12
12          E09000012     00AM                   Hackney  ...  16.34  16.04  16.66
13          E09000013     00AN    Hammersmith and Fulham  ...  20.04  17.34  18.54
14          E09000014     00AP                  Haringey  ...  15.66   14.4  14.58
15          E09000015     00AQ                    Harrow  ...  13.59  13.02  12.48
16          E09000016     00AR                  Havering  ...  10.54  10.77  10.65
17          E09000017     00AS                Hillingdon  ...  13.56  13.15  12.28
18          E09000018     00AT                  Hounslow  ...  12.75  11.82  12.31
19          E09000019     00AU                 Islington  ...  13.10  13.73  13.79
20          E09000020     00AW    Kensington and Chelsea  ...  33.43  27.64  27.16
21          E09000021     00AX      Kingston upon Thames  ...  12.74  12.71  11.92
22          E09000022     00AY                   Lambeth  ...  13.82   14.4   13.1
23          E09000023     00AZ                  Lewisham  ...  12.20  12.74  11.55
24          E09000024     00BA                    Merton  ...  12.91   12.4  11.53
25          E09000025     00BB                    Newham  ...  13.28  12.98  12.14
26          E09000026     00BC                 Redbridge  ...  12.79  12.02  11.63
27          E09000027     00BD      Richmond upon Thames  ...  14.88  14.74   13.5
28          E09000028     00BE                 Southwark  ...  15.35  14.31  13.83
29          E09000029     00BF                    Sutton  ...  10.77   10.4  11.56
30          E09000030     00BG             Tower Hamlets  ...  12.73   11.5  12.12
31          E09000031     00BH            Waltham Forest  ...  13.55  12.66  12.37
32          E09000032     00BJ                Wandsworth  ...  14.80  14.38  14.39
33          E09000033     00BK               Westminster  ...  23.66   21.6  22.41
34                NaN      NaN                       NaN  ...    NaN    NaN    NaN
35          E12000001        A                North East  ...   5.28   5.21   5.01
36          E12000002        B                North West  ...   5.81   5.79   5.72
37          E12000003        D  Yorkshire And The Humber  ...   5.95   5.91   5.83
38          E12000004        E             East Midlands  ...   6.74   6.74   6.69
39          E12000005        F             West Midlands  ...   6.81    6.9   6.78
40          E12000006        G                      East  ...   9.19   9.01   8.86
41          E12000007        H                    London  ...  13.09  12.75  12.52
42          E12000008        J                South East  ...   9.92   9.67   9.57
43          E12000009        K                South West  ...   8.78   8.61   8.66
44                NaN      NaN                       NaN  ...    NaN    NaN    NaN
45          E92000001       64                   England  ...   8.04   7.88   7.84

[46 rows x 22 columns]

In [ ]:
#Transformacion de dataset paa poder unirlo al principal
viv=pd.DataFrame(columns = ['IncGeo_BoroughCode', 'Precio', "CalYear"])
viv1=pd.DataFrame(columns = ['IncGeo_BoroughCode', 'Precio',"CalYear"])
for i in range(1,46):
  viv["Precio"]=viviendas.iloc[i,3:22]
  viv["IncGeo_BoroughCode"]=viviendas.iloc[i,0]
  viv["CalYear"]=viviendas.columns[3:22]
  viv1=pd.concat([viv1,viv])
viv1

     IncGeo_BoroughCode Precio CalYear
2002          E09000001   6.29    2002
2003          E09000001      :    2003
2004          E09000001      :    2004
2005          E09000001      :    2005
2006          E09000001      :    2006
...                 ...    ...     ...
2016          E92000001   7.72    2016
2017          E92000001   7.91    2017
2018          E92000001   8.04    2018
2019          E92000001   7.88    2019
2020          E92000001   7.84    2020

[855 rows x 3 columns]

In [22]:
viv1.reset_index()

NameError: ignored

###LIMPIEZA

##DATASET DENSIDAD POBLACION

In [ ]:
densidad = pd.read_csv('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/housing-density-borough.csv')
densidad.head()

        Code  ... Population_per_square_kilometre
0  E09000001  ...                          2266.2
1  E09000001  ...                          2415.3
2  E09000001  ...                          2534.1
3  E09000001  ...                          2506.9
4  E09000001  ...                          2450.1

[5 rows x 10 columns]

In [ ]:
densidad=densidad.rename(columns={"Code": "IncGeo_BoroughCode", "Year":"CalYear"})
densidad

     IncGeo_BoroughCode  ... Population_per_square_kilometre
0             E09000001  ...                          2266.2
1             E09000001  ...                          2415.3
2             E09000001  ...                          2534.1
3             E09000001  ...                          2506.9
4             E09000001  ...                          2450.1
...                 ...  ...                             ...
1867          E13000002  ...                          5240.8
1868          E13000002  ...                          5261.2
1869          E13000002  ...                          5280.4
1870          E13000002  ...                          5300.1
1871          E13000002  ...                          5319.0

[1872 rows x 10 columns]

In [ ]:
col_eliminar_densidad=["Name","Source","Population","Inland_Area _Hectares", "Total_Area_Hectares", "Population_per_hectare", "Square_Kilometres"]
densidad.drop(col_eliminar_densidad, inplace=True, axis=1)
densidad

     IncGeo_BoroughCode  CalYear  Population_per_square_kilometre
0             E09000001     1999                           2266.2
1             E09000001     2000                           2415.3
2             E09000001     2001                           2534.1
3             E09000001     2002                           2506.9
4             E09000001     2003                           2450.1
...                 ...      ...                              ...
1867          E13000002     2046                           5240.8
1868          E13000002     2047                           5261.2
1869          E13000002     2048                           5280.4
1870          E13000002     2049                           5300.1
1871          E13000002     2050                           5319.0

[1872 rows x 3 columns]

In [ ]:
datos_completos = pd.merge(datos_completos, densidad, on=["IncGeo_BoroughCode","CalYear"])
datos_completos.head()

  IncidentNumber  DateOfCall  ... Precio Population_per_square_kilometre
0      235138081  2009-01-01  ...   9.14                          8736.4
1         155091  2009-01-01  ...   9.14                          8736.4
2         232091  2009-01-01  ...   9.14                          8736.4
3         248091  2009-01-01  ...   9.14                          8736.4
4         315091  2009-01-01  ...   9.14                          8736.4

[5 rows x 40 columns]

###LIMPIEZA

##DATASET CRIMENES

In [8]:
crimenes = pd.read_csv('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/crime-rates.csv')
crimenes.head()

FileNotFoundError: ignored

In [ ]:
crimenes=crimenes.rename(columns={"Code": "IncGeo_BoroughCode", "Year":"CalYear"})
crimenes

     IncGeo_BoroughCode               Borough  ...   Rate Number_of_offences
0             E09000002  Barking and Dagenham  ...  120.5             19,567
1             E09000003                Barnet  ...   98.0             30,708
2             E09000004                Bexley  ...   95.1             20,680
3             E09000005                 Brent  ...  127.7             33,253
4             E09000006               Bromley  ...   89.8             26,474
...                 ...                   ...  ...    ...                ...
6655                NaN              Heathrow  ...    NaN              1,081
6656          E13000001          Inner London  ...    1.7              6,041
6657          E13000002          Outer London  ...    1.3              6,637
6658          E12000007       Met Police Area  ...    1.6             13,759
6659                727     England and Wales  ...    NaN                NaN

[6660 rows x 6 columns]

In [ ]:
col_eliminar_crimenes=["Borough", "Offences", "Rate"]
crimenes.drop(col_eliminar_crimenes, inplace=True, axis=1)
crimenes

     IncGeo_BoroughCode  CalYear Number_of_offences
0             E09000002  1999-00             19,567
1             E09000003  1999-00             30,708
2             E09000004  1999-00             20,680
3             E09000005  1999-00             33,253
4             E09000006  1999-00             26,474
...                 ...      ...                ...
6655                NaN  2016-17              1,081
6656          E13000001  2016-17              6,041
6657          E13000002  2016-17              6,637
6658          E12000007  2016-17             13,759
6659                727  2016-17                NaN

[6660 rows x 3 columns]

In [ ]:
crimenes["CalYear"]=crimenes["CalYear"].map(lambda x: str(x)[:-3])
crimenes["CalYear"]

0       1999
1       1999
2       1999
3       1999
4       1999
        ...
6655    2016
6656    2016
6657    2016
6658    2016
6659    2016
Name: CalYear, Length: 6660, dtype: object

###LIMPIEZA

##DATASET PRECIO VIVIENDA

In [12]:
p_vivienda = pd.read_csv('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/land-registry-house-prices-borough.csv')
p_vivienda.head()

        Code                  Area                  Year Measure    Value
0  E09000001        City of London  Year ending Dec 1995  Median  105,000
1  E09000002  Barking and Dagenham  Year ending Dec 1995  Median   49,000
2  E09000003                Barnet  Year ending Dec 1995  Median   85,125
3  E09000004                Bexley  Year ending Dec 1995  Median   62,000
4  E09000005                 Brent  Year ending Dec 1995  Median   68,000

In [13]:
p_vivienda=p_vivienda.rename(columns={"Code": "IncGeo_BoroughCode", "Year":"CalYear"})
p_vivienda

      IncGeo_BoroughCode                  Area  ... Measure    Value
0              E09000001        City of London  ...  Median  105,000
1              E09000002  Barking and Dagenham  ...  Median   49,000
2              E09000003                Barnet  ...  Median   85,125
3              E09000004                Bexley  ...  Median   62,000
4              E09000005                 Brent  ...  Median   68,000
...                  ...                   ...  ...     ...      ...
12010          E12000008            South East  ...   Sales  148,025
12011          E12000009            South West  ...   Sales  102,292
12012          E92000001               England  ...   Sales  837,501
12013          W92000076                 Wales  ...   Sales   46,828
12014          K04000073     England And Wales  ...   Sales  884,329

[12015 rows x 5 columns]

In [18]:
p_vivienda=p_vivienda.loc[p_vivienda["Measure"]=="Sales"]
p_vivienda

In [20]:
col_eliminar_vivienda=["Area", "Measure"]
p_vivienda.drop(col_eliminar_vivienda, inplace=True, axis=1)
p_vivienda

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      IncGeo_BoroughCode               CalYear    Value
8010           E09000001  Year ending Dec 1995      165
8011           E09000002  Year ending Dec 1995    1,488
8012           E09000003  Year ending Dec 1995    4,758
8013           E09000004  Year ending Dec 1995    3,430
8014           E09000005  Year ending Dec 1995    3,473
...                  ...                   ...      ...
12010          E12000008  Year ending Dec 2017  148,025
12011          E12000009  Year ending Dec 2017  102,292
12012          E92000001  Year ending Dec 2017  837,501
12013          W92000076  Year ending Dec 2017   46,828
12014          K04000073  Year ending Dec 2017  884,329

[4005 rows x 3 columns]

In [21]:
p_vivienda.reset_index()

      index IncGeo_BoroughCode               CalYear    Value
0      8010          E09000001  Year ending Dec 1995      165
1      8011          E09000002  Year ending Dec 1995    1,488
2      8012          E09000003  Year ending Dec 1995    4,758
3      8013          E09000004  Year ending Dec 1995    3,430
4      8014          E09000005  Year ending Dec 1995    3,473
...     ...                ...                   ...      ...
4000  12010          E12000008  Year ending Dec 2017  148,025
4001  12011          E12000009  Year ending Dec 2017  102,292
4002  12012          E92000001  Year ending Dec 2017  837,501
4003  12013          W92000076  Year ending Dec 2017   46,828
4004  12014          K04000073  Year ending Dec 2017  884,329

[4005 rows x 4 columns]

In [36]:
p_vivienda=p_vivienda["CalYear"].map(lambda x: str(x)[16:])

8010     995
8011     995
8012     995
8013     995
8014     995
        ...
12010    017
12011    017
12012    017
12013    017
12014    017
Name: CalYear, Length: 4005, dtype: object

In [ ]:
for col_name in df.columns:
    if(df[col_name].dtype == 'object'):
        df[col_name]= df[col_name].astype('category')
        df[col_name] = df[col_name].cat.codes

###LIMPIEZA

##UNION DATASETS

In [ ]:
datos_completos = pd.merge(, crimenes, on=["IncGeo_BoroughCode","CalYear"])
datos_completos.head()

Empty DataFrame
Columns: [IncidentNumber, DateOfCall, CalYear, TimeOfCall, HourOfCall, IncidentGroup, StopCodeDescription, SpecialServiceType, PropertyCategory, PropertyType, AddressQualifier, Postcode_full, Postcode_district, IncGeo_BoroughCode, IncGeo_BoroughName, ProperCase, IncGeo_WardCode, IncGeo_WardName, IncGeo_WardNameNew, Easting_m, Northing_m, Easting_rounded, Northing_rounded, FRS, IncidentStationGround, FirstPumpArriving_AttendanceTime, FirstPumpArriving_DeployedFromStation, SecondPumpArriving_AttendanceTime, SecondPumpArriving_DeployedFromStation, NumStationsWithPumpsAttending, NumPumpsAttending, UPRN, USRN, Latitude, Longitude, PumpCount, PumpHoursRoundUp, Notional Cost (£), Precio, Population_per_square_kilometre, Number_of_offences]
Index: []