<a href="https://colab.research.google.com/github/Roberto-he/TFM_RHG/blob/main/TFM_FIRE_RHG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OBJETIVO 

Con el bjetivo de este proyecto es buscar los incendios reales que se producen en Londres

El dataset utilizdo ha sido publicado por la la brigada de incendios de londres (LFB)


Las tareas realizadas sobre el data set son:
- Limpiar el dataset y tratar los valores "NaN"
- Buscar datos perdidos
- Balanceo de datos 
- Analizar los datos analiticamente y con graficas
- Buscar un algoritmo para predecir cuando hay un incendio o cuando es una falsa alarma.

#LIBRERIAS

In [ ]:
# carga de datos
import pandas as pd
import io
from google.colab import files
# manipulación y visualización
import matplotlib.pyplot as plt
import numpy as np
import itertools
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

#CARGA DE DATASET DE GRAN TAMANYO EN GOOGLE DRIVE

##CONVERSION DEL DATASET A CSV

In [ ]:
def upload_files ():
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    df = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')))
    return df

In [ ]:
def upload_files_xls ():
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    df = pd.read_excel(io.StringIO(uploaded[fn].decode('utf-8')))
    return df

In [ ]:
df1 = upload_files_xls()
df1.head()

NameError: ignored

In [ ]:
df2 = upload_files_xls()
df2.head()

In [ ]:
df3 = upload_files_xls()
df3.head()

##UNION DE LOS DATASETS

In [ ]:
#Unir las 3 bases de datos
frames = [df1, df2, df3]

df_excel = pd.concat(frames)

In [ ]:
#Pasar a CSV
df_excel.to_csv('LFB incident 2009-2021.csv', index=False)

In [ ]:
#Exportar CSV

from google.colab import files

with open('LFB incident 2009-2021.csv', 'w') as f:
  df.to_csv(f,  index = False)
  

files.download('LFB incident 2009-2021.csv')

df.head()

In [ ]:
df=pd.read_csv("LFB incident 2009-2021.csv")
df

## UNZIP
Al ser un archivo muy pesado lo subo a ggole colab comprimido. Ya en colab lo descomprimo

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

In [ ]:
!unrar x  '/gdrive/My Drive/TFM-Roberto_Hernandez/LFB_incident_2009-2021.rar'  "/gdrive/My Drive/TFM-Roberto_Hernandez/"

#CARGA DATASETS

##DATASET INCENDIOS

In [ ]:
#Url: https://data.gov.uk/dataset/e6b9d1c6-7c34-42ca-a100-cd62164ea76c/london-fire-brigade-incident-records
llamadas = pd.read_csv('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/LFB incident 2009-2021.csv')
llamadas.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  IncidentNumber  DateOfCall  ...  PumpHoursRoundUp Notional Cost (£)
0      235138081  2009-01-01  ...               NaN               NaN
1           1091  2009-01-01  ...               NaN               NaN
2           2091  2009-01-01  ...               NaN               NaN
3           3091  2009-01-01  ...               NaN               NaN
4           5091  2009-01-01  ...               NaN               NaN

[5 rows x 38 columns]

In [ ]:
#Vemos la aparte de abajo de nuestro dataset
llamadas.tail()

          IncidentNumber  DateOfCall  ...  PumpHoursRoundUp Notional Cost (£)
1333065  050590-30042021  2021-04-30  ...               1.0             352.0
1333066  050431-30042021  2021-04-30  ...               1.0             352.0
1333067  050653-30042021  2021-04-30  ...               1.0             352.0
1333068  050428-30042021  2021-04-30  ...               1.0             352.0
1333069  050249-30042021  2021-04-30  ...               1.0             352.0

[5 rows x 38 columns]

In [ ]:
# tamno del dataset
llamadas.shape

(1333070, 38)

In [ ]:
# Informacion asociada al dataset
llamadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1333070 entries, 0 to 1333069
Data columns (total 38 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   IncidentNumber                          1333070 non-null  object
 1   DateOfCall                              1333070 non-null  object
 2   CalYear                                 1333070 non-null  int64
 3   TimeOfCall                              1333070 non-null  object
 4   HourOfCall                              1333070 non-null  int64
 5   IncidentGroup                           1333069 non-null  object
 6   StopCodeDescription                     1333069 non-null  object
 7   SpecialServiceType                      408181 non-null   object
 8   PropertyCategory                        1333069 non-null  object
 9   PropertyType                            1333069 non-null  object
 10  AddressQualifier                        1333070 non-null  object
 11  Postcode_full                           703227 non-null   object
 12  Postcode_district                       1333070 non-null  object
 13  IncGeo_BoroughCode                      1333070 non-null  object
 14  IncGeo_BoroughName                      1333070 non-null  object
 15  ProperCase                              1333070 non-null  object
 16  IncGeo_WardCode                         1333070 non-null  object
 17  IncGeo_WardName                         1333070 non-null  object
 18  IncGeo_WardNameNew                      1333070 non-null  object
 19  Easting_m                               703227 non-null   float64
 20  Northing_m                              703227 non-null   float64
 21  Easting_rounded                         1333070 non-null  int64
 22  Northing_rounded                        1333070 non-null  int64
 23  FRS                                     1333070 non-null  object
 24  IncidentStationGround                   1333070 non-null  object
 25  FirstPumpArriving_AttendanceTime        1098340 non-null  float64
 26  FirstPumpArriving_DeployedFromStation   1098330 non-null  object
 27  SecondPumpArriving_AttendanceTime       170096 non-null   float64
 28  SecondPumpArriving_DeployedFromStation  170092 non-null   object
 29  NumStationsWithPumpsAttending           1325384 non-null  float64
 30  NumPumpsAttending                       1325384 non-null  float64
 31  UPRN                                    444029 non-null   float64
 32  USRN                                    444029 non-null   float64
 33  Latitude                                216803 non-null   float64
 34  Longitude                               216803 non-null   float64
 35  PumpCount                               442005 non-null   float64
 36  PumpHoursRoundUp                        441865 non-null   float64
 37  Notional Cost (£)                       441865 non-null   float64
dtypes: float64(13), int64(4), object(21)
memory usage: 386.5+ MB

In [ ]:
null_columns=llamadas.columns[llamadas.isnull().any()]
llamadas[null_columns].isnull().sum()

IncidentGroup                                   1
StopCodeDescription                             1
SpecialServiceType                         924889
PropertyCategory                                1
PropertyType                                    1
Postcode_full                              629843
Easting_m                                  629843
Northing_m                                 629843
FirstPumpArriving_AttendanceTime           234730
FirstPumpArriving_DeployedFromStation      234740
SecondPumpArriving_AttendanceTime         1162974
SecondPumpArriving_DeployedFromStation    1162978
NumStationsWithPumpsAttending                7686
NumPumpsAttending                            7686
UPRN                                       889041
USRN                                       889041
Latitude                                  1116267
Longitude                                 1116267
PumpCount                                  891065
PumpHoursRoundUp                           891205
Notional Cost (£)                          891205
dtype: int64

###ANALISIS DE DATOS

In [ ]:
def descripcionDatosDataset(datos):
    print("Cantidad de filas:", datos.shape[0])
    print("Cantidad de columnas:", datos.shape[1])
    print('-'*100)
    for columna in datos.columns:
        valoresDescripcion = ''
        tipo = ''
        if datos[columna].dtype == 'float64' or datos[columna].dtype == 'int64':
            tipo = 'numérico'
            valoresDescripcion = datos[columna].agg(['min', 'max', 'mean', 'std', 'median'])
        else:
            tipo = 'nominal' #categórico | string | no-numérico
            valoresDescripcion = {'valoresPresentes' : datos[columna].unique(), 
                                  'cantidadNulos' : datos[columna].isna().sum()}
                                 #'conteoValores' : pd.value_counts(datos[columna])}
        print('Columna: ' + columna)
        print('Tipo de datos: ' + tipo)
        print('Descripción de valores:')
        if tipo == 'numérico':
            print(valoresDescripcion)
        else:
            print('-- Valores presentes (10 primeros): ' + str(valoresDescripcion['valoresPresentes'][:10]))
            pctNulos = (valoresDescripcion['cantidadNulos'] / datos.shape[0]) * 100
            print('-- Cantidad de nulos: ' + str(valoresDescripcion['cantidadNulos']) + ' = ' + "{0:.2f}".format(pctNulos) + '%')
        print('-'*100)

In [ ]:
descripcionDatosDataset(llamadas)

Cantidad de filas: 1333070
Cantidad de columnas: 38
----------------------------------------------------------------------------------------------------
Columna: IncidentNumber
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): [235138081 1091 2091 3091 5091 6091 8091 9091 10091 11091]
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: DateOfCall
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['2009-01-01' '2009-01-02' '2009-01-03' '2009-01-04' '2009-01-05'
 '2009-01-06' '2009-01-07' '2009-01-08' '2009-01-09' '2009-01-10']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: CalYear
Tipo de datos: numérico
Descripción de valores:
min       2009.000000
max       2021.000000
mean      2014.398667
std          3.632486
median    2014.000000
Name: CalYear, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: TimeOfCall
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['00:00:37' '00:00:46' '00:03:00' '00:04:27' '00:05:39' '00:06:03'
 '00:12:31' '00:13:42' '00:14:51' '00:14:57']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: HourOfCall
Tipo de datos: numérico
Descripción de valores:
min        0.000000
max       23.000000
mean      13.517730
std        6.218366
median    14.000000
Name: HourOfCall, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: IncidentGroup
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Special Service' 'Fire' 'False Alarm' nan]
-- Cantidad de nulos: 1 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: StopCodeDescription
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Special Service' 'Secondary Fire' 'AFA' 'Primary Fire'
 'False alarm - Good intent' 'False alarm - Malicious' 'Chimney Fire'
 'Flood call attended - Batch mobilised' 'Late Call' nan]
-- Cantidad de nulos: 1 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: SpecialServiceType
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['RTC' 'Assist other agencies' nan 'Flooding' 'Medical Incident'
 'Lift Release' 'No action (not false alarm)' 'Effecting entry/exit'
 'Animal assistance incidents' 'Other rescue/release of persons']
-- Cantidad de nulos: 924889 = 69.38%
----------------------------------------------------------------------------------------------------
Columna: PropertyCategory
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Road Vehicle' 'Outdoor' 'Dwelling' 'Outdoor Structure'
 'Other Residential' 'Non Residential' 'Aircraft' 'Rail Vehicle' 'Boat'
 nan]
-- Cantidad de nulos: 1 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: PropertyType
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Car ' 'Lake/pond/reservoir ' 'Road surface/pavement '
 'Domestic garden (vegetation not equipment) '
 'Cycle path/public footpath/bridleway '
 'Purpose Built Flats/Maisonettes - Up to 3 storeys '
 'Refuse/rubbish tip ' 'Small refuse/rubbish container'
 'Student Hall of Residence ' 'House - single occupancy ']
-- Cantidad de nulos: 1 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: AddressQualifier
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['In street close to gazetteer location'
 'Open land/water - nearest gazetteer location'
 'In street outside gazetteer location' 'On land associated with building'
 'Correct incident location' 'On motorway / elevated road'
 'In street remote from gazetteer location' 'Within same building'
 'Nearby address - street not listed in gazetteer'
 'Nearby address - no building in street']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Postcode_full
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['SW11 4LB' 'SE1 7SG' 'N9 9EL' 'UB10 0DG' 'N7 8HG' nan 'SE3 9PP' 'TW3 2RE'
 'EC1V 7PB' 'WC1B 3RA']
-- Cantidad de nulos: 629843 = 47.25%
----------------------------------------------------------------------------------------------------
Columna: Postcode_district
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['SW11' 'SE1' 'N9' 'UB10' 'N7' 'NW5' 'SE3' 'TW3' 'EC1V' 'WC1B']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: IncGeo_BoroughCode
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['E09000032' 'E09000022' 'E09000010' 'E09000017' 'E09000019' 'E09000007'
 'E09000011' 'E09000018' 'E09000028' 'E09000012']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: IncGeo_BoroughName
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['WANDSWORTH' 'LAMBETH' 'ENFIELD' 'HILLINGDON' 'ISLINGTON' 'CAMDEN'
 'GREENWICH' 'HOUNSLOW' 'SOUTHWARK' 'HACKNEY']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: ProperCase
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Wandsworth' 'Lambeth' 'Enfield' 'Hillingdon' 'Islington' 'Camden'
 'Greenwich' 'Hounslow' 'Southwark' 'Hackney']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: IncGeo_WardCode
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['E05000620' 'E05000416' 'E05000201' 'E05000332' 'E05000375' 'E05000139'
 'E05000220' 'E05000360' 'E05000367' 'E05000129']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: IncGeo_WardName
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Queenstown' "Bishop's" 'Haselbury' 'Hillingdon East' 'Holloway'
 'Kentish Town' 'Eltham West' 'Hounslow South' 'Bunhill' 'Bloomsbury']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: IncGeo_WardNameNew
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Queenstown' "Bishop's" 'Haselbury' 'Hillingdon East' 'Holloway'
 'Kentish Town' 'Eltham West' 'Hounslow South' 'Bunhill' 'Bloomsbury']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Easting_m
Tipo de datos: numérico
Descripción de valores:
min        56117.000000
max       628647.000000
mean      530653.228757
std        10421.852339
median    530809.000000
Name: Easting_m, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Northing_m
Tipo de datos: numérico
Descripción de valores:
min        17945.000000
max       275646.000000
mean      180360.224249
std         7484.854270
median    180984.000000
Name: Northing_m, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Easting_rounded
Tipo de datos: numérico
Descripción de valores:
min        56150.000000
max       628650.000000
mean      530695.679897
std         9799.853310
median    530950.000000
Name: Easting_rounded, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Northing_rounded
Tipo de datos: numérico
Descripción de valores:
min        17950.000000
max       531250.000000
mean      180507.178618
std         7380.706297
median    181050.000000
Name: Northing_rounded, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: FRS
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['London' 'OverTheBorder']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: IncidentStationGround
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Battersea' 'Lambeth' 'Edmonton' 'Hillingdon' 'Holloway' 'Kentish Town'
 'Lee Green' 'Heston' 'Shoreditch' 'Soho']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: FirstPumpArriving_AttendanceTime
Tipo de datos: numérico
Descripción de valores:
min          1.000000
max       1200.000000
mean       317.916411
std        140.140710
median     295.000000
Name: FirstPumpArriving_AttendanceTime, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: FirstPumpArriving_DeployedFromStation
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): [nan 'Tottenham' 'Bow' 'Paddington' 'North Kensington' 'Twickenham'
 'Hammersmith' 'Dowgate' 'Chelsea' 'Purley']
-- Cantidad de nulos: 234740 = 17.61%
----------------------------------------------------------------------------------------------------
Columna: SecondPumpArriving_AttendanceTime
Tipo de datos: numérico
Descripción de valores:
min          1.000000
max       1200.000000
mean       387.089685
std        146.996231
median     363.000000
Name: SecondPumpArriving_AttendanceTime, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: SecondPumpArriving_DeployedFromStation
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): [nan 'West Hampstead' 'Peckham' 'Northolt' 'Park Royal' 'Millwall' 'Acton'
 'Harold Hill' 'Sutton' 'Sidcup']
-- Cantidad de nulos: 1162978 = 87.24%
----------------------------------------------------------------------------------------------------
Columna: NumStationsWithPumpsAttending
Tipo de datos: numérico
Descripción de valores:
min        1.000000
max       46.000000
mean       1.357143
std        0.641696
median     1.000000
Name: NumStationsWithPumpsAttending, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: NumPumpsAttending
Tipo de datos: numérico
Descripción de valores:
min         1.000000
max       106.000000
mean        1.561840
std         0.816101
median      1.000000
Name: NumPumpsAttending, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: UPRN
Tipo de datos: numérico
Descripción de valores:
min       0.000000e+00
max       2.000044e+11
mean      2.267911e+10
std       4.776381e+10
median    0.000000e+00
Name: UPRN, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: USRN
Tipo de datos: numérico
Descripción de valores:
min       4.200740e+06
max       9.999042e+07
mean      2.035894e+07
std       4.773771e+06
median    2.120104e+07
Name: USRN, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Latitude
Tipo de datos: numérico
Descripción de valores:
min        0.000000
max       51.691568
mean      51.440329
std        1.857651
median    51.513069
Name: Latitude, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Longitude
Tipo de datos: numérico
Descripción de valores:
min      -0.510155
max       0.310609
mean     -0.118577
std       0.149173
median   -0.116718
Name: Longitude, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: PumpCount
Tipo de datos: numérico
Descripción de valores:
min         1.000000
max       319.000000
mean        1.620190
std         1.634512
median      1.000000
Name: PumpCount, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: PumpHoursRoundUp
Tipo de datos: numérico
Descripción de valores:
min          1.000000
max       2163.000000
mean         1.373121
std          6.753364
median       1.000000
Name: PumpHoursRoundUp, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Notional Cost (£)
Tipo de datos: numérico
Descripción de valores:
min          326.000000
max       709464.000000
mean         461.495909
std         2251.140805
median       339.000000
Name: Notional Cost (£), dtype: float64
----------------------------------------------------------------------------------------------------

###LIMPIEZA

In [ ]:
#Borramos los atributos posteriores a la llamda que no aportan nada en nuestro estudio
col_eliminar_llamadas=["IncidentStationGround","FirstPumpArriving_AttendanceTime","FirstPumpArriving_DeployedFromStation","SecondPumpArriving_AttendanceTime","SecondPumpArriving_DeployedFromStation","NumStationsWithPumpsAttending","NumPumpsAttending","PumpHoursRoundUp","PumpCount"]
llamadas.drop(col_eliminar_llamadas, inplace=True, axis=1)
llamadas

          IncidentNumber  DateOfCall  ...  PumpHoursRoundUp Notional Cost (£)
0              235138081  2009-01-01  ...               NaN               NaN
1                   1091  2009-01-01  ...               NaN               NaN
2                   2091  2009-01-01  ...               NaN               NaN
3                   3091  2009-01-01  ...               NaN               NaN
4                   5091  2009-01-01  ...               NaN               NaN
...                  ...         ...  ...               ...               ...
1333065  050590-30042021  2021-04-30  ...               1.0             352.0
1333066  050431-30042021  2021-04-30  ...               1.0             352.0
1333067  050653-30042021  2021-04-30  ...               1.0             352.0
1333068  050428-30042021  2021-04-30  ...               1.0             352.0
1333069  050249-30042021  2021-04-30  ...               1.0             352.0

[1333070 rows x 32 columns]

In [ ]:
#Renombramos las columnas para poder hacer las uniones entre los distintos datasets
llamadas=llamadas.rename(columns={"IncGeo_BoroughCode":"Code", "CalYear":"Year"})
llamadas

          IncidentNumber  DateOfCall  ...  PumpHoursRoundUp Notional Cost (£)
0              235138081  2009-01-01  ...               NaN               NaN
1                   1091  2009-01-01  ...               NaN               NaN
2                   2091  2009-01-01  ...               NaN               NaN
3                   3091  2009-01-01  ...               NaN               NaN
4                   5091  2009-01-01  ...               NaN               NaN
...                  ...         ...  ...               ...               ...
1333065  050590-30042021  2021-04-30  ...               1.0             352.0
1333066  050431-30042021  2021-04-30  ...               1.0             352.0
1333067  050653-30042021  2021-04-30  ...               1.0             352.0
1333068  050428-30042021  2021-04-30  ...               1.0             352.0
1333069  050249-30042021  2021-04-30  ...               1.0             352.0

[1333070 rows x 32 columns]

In [ ]:
llamadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1333070 entries, 0 to 1333069
Data columns (total 32 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   IncidentNumber       1333070 non-null  object
 1   DateOfCall           1333070 non-null  object
 2   Year                 1333070 non-null  int64
 3   TimeOfCall           1333070 non-null  object
 4   HourOfCall           1333070 non-null  int64
 5   IncidentGroup        1333069 non-null  object
 6   StopCodeDescription  1333069 non-null  object
 7   SpecialServiceType   408181 non-null   object
 8   PropertyCategory     1333069 non-null  object
 9   PropertyType         1333069 non-null  object
 10  AddressQualifier     1333070 non-null  object
 11  Postcode_full        703227 non-null   object
 12  Postcode_district    1333070 non-null  object
 13  Code                 1333070 non-null  object
 14  IncGeo_BoroughName   1333070 non-null  object
 15  ProperCase           1333070 non-null  object
 16  IncGeo_WardCode      1333070 non-null  object
 17  IncGeo_WardName      1333070 non-null  object
 18  IncGeo_WardNameNew   1333070 non-null  object
 19  Easting_m            703227 non-null   float64
 20  Northing_m           703227 non-null   float64
 21  Easting_rounded      1333070 non-null  int64
 22  Northing_rounded     1333070 non-null  int64
 23  FRS                  1333070 non-null  object
 24  NumPumpsAttending    1325384 non-null  float64
 25  UPRN                 444029 non-null   float64
 26  USRN                 444029 non-null   float64
 27  Latitude             216803 non-null   float64
 28  Longitude            216803 non-null   float64
 29  PumpCount            442005 non-null   float64
 30  PumpHoursRoundUp     441865 non-null   float64
 31  Notional Cost (£)    441865 non-null   float64
dtypes: float64(10), int64(4), object(18)
memory usage: 325.5+ MB

## DATASET PRECIO VIVIENDA

In [ ]:
viviendas = pd.read_excel('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/ratio-house-price-earnings-residence-based.xlsx')
viviendas.head()

    New Code Old Code                  Area  2002  ...   2017   2018   2019   2020
0        NaN      NaN                   NaN   NaN  ...    NaN    NaN    NaN    NaN
1  E09000001     00AA        City of London  6.29  ...      :  16.55      :      :
2  E09000002     00AB  Barking and Dagenham  4.68  ...     10  10.40  10.75   9.63
3  E09000003     00AC                Barnet  7.42  ...   13.7  14.45  14.19  15.93
4  E09000004     00AD                Bexley  5.56  ...  10.01  10.04   9.61   9.28

[5 rows x 22 columns]

###ANALISIS DE DATOS

In [ ]:
descripcionDatosDataset(viviendas)

Cantidad de filas: 46
Cantidad de columnas: 22
----------------------------------------------------------------------------------------------------
Columna: New Code
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): [nan 'E09000001' 'E09000002' 'E09000003' 'E09000004' 'E09000005'
 'E09000006' 'E09000007' 'E09000008' 'E09000009']
-- Cantidad de nulos: 3 = 6.52%
----------------------------------------------------------------------------------------------------
Columna: Old Code
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): [nan '00AA' '00AB' '00AC' '00AD' '00AE' '00AF' '00AG' '00AH' '00AJ']
-- Cantidad de nulos: 3 = 6.52%
----------------------------------------------------------------------------------------------------
Columna: Area
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): [nan 'City of London' 'Barking and Dagenham' 'Barnet' 'Bexley' 'Brent'
 'Bromley' 'Camden' 'Croydon' 'Ealing']
-- Cantidad de nulos: 3 = 6.52%
----------------------------------------------------------------------------------------------------

TypeError: ignored

###TRANSFORMACION

Realizamos las transformaciones necesarias para poder unirlo

In [ ]:
#Transformacion de dataset para poder unirlo al principal
viv=pd.DataFrame(columns = ['Code', 'Precio', "Year"])
viviendas_tr=pd.DataFrame(columns = ['Code', 'Precio',"Year"])
for i in range(1,46):
  viv["Precio"]=viviendas.iloc[i,3:22]
  viv["Code"]=viviendas.iloc[i,0]
  viv["Year"]=viviendas.columns[3:22]
  viviendas_tr=pd.concat([viviendas_tr,viv])
viviendas_tr

           Code Precio  Year
2002  E09000001   6.29  2002
2003  E09000001      :  2003
2004  E09000001      :  2004
2005  E09000001      :  2005
2006  E09000001      :  2006
...         ...    ...   ...
2016  E92000001   7.72  2016
2017  E92000001   7.91  2017
2018  E92000001   8.04  2018
2019  E92000001   7.88  2019
2020  E92000001   7.84  2020

[855 rows x 3 columns]

##DATASET DENSIDAD POBLACION

In [ ]:
densidad = pd.read_csv('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/housing-density-borough.csv')
densidad.head()

        Code  ... Population_per_square_kilometre
0  E09000001  ...                          2266.2
1  E09000001  ...                          2415.3
2  E09000001  ...                          2534.1
3  E09000001  ...                          2506.9
4  E09000001  ...                          2450.1

[5 rows x 10 columns]

###ANALISIS DE DATOS

In [ ]:
descripcionDatosDataset(densidad)

Cantidad de filas: 1872
Cantidad de columnas: 10
----------------------------------------------------------------------------------------------------
Columna: Code
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['E09000001' 'E09000002' 'E09000003' 'E09000004' 'E09000005' 'E09000006'
 'E09000007' 'E09000008' 'E09000009' 'E09000010']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Name
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['City of London' 'Barking and Dagenham' 'Barnet' 'Bexley' 'Brent'
 'Bromley' 'Camden' 'Croydon' 'Ealing' 'Enfield']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Year
Tipo de datos: numérico
Descripción de valores:
min       1999.000000
max       2050.000000
mean      2024.500000
std         15.012341
median    2024.500000
Name: Year, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Source
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['ONS MYE' 'GLA Population Projections']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Population
Tipo de datos: numérico
Descripción de valores:
min       6.581000e+03
max       1.120825e+07
mean      7.834712e+05
std       1.808339e+06
median    2.972800e+05
Name: Population, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Inland_Area _Hectares
Tipo de datos: numérico
Descripción de valores:
min          290.400000
max       157214.700000
mean       13105.061111
std        31795.820550
median      4102.050000
Name: Inland_Area _Hectares, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Total_Area_Hectares
Tipo de datos: numérico
Descripción de valores:
min          314.900000
max       159470.600000
mean       13289.247222
std        32201.472363
median      4102.050000
Name: Total_Area_Hectares, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Population_per_hectare
Tipo de datos: numérico
Descripción de valores:
min        19.600000
max       212.900000
mean       78.865972
std        42.749508
median     64.950000
Name: Population_per_hectare, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Square_Kilometres
Tipo de datos: numérico
Descripción de valores:
min          2.900000
max       1572.100000
mean       131.041667
std        317.949780
median      41.000000
Name: Square_Kilometres, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Population_per_square_kilometre
Tipo de datos: numérico
Descripción de valores:
min        1964.200000
max       21294.300000
mean       7886.614797
std        4274.954198
median     6493.100000
Name: Population_per_square_kilometre, dtype: float64
----------------------------------------------------------------------------------------------------

###LIMPIEZA

In [ ]:
col_eliminar_densidad=["Name","Source","Inland_Area _Hectares", "Total_Area_Hectares", "Population_per_hectare", "Square_Kilometres"]
densidad.drop(col_eliminar_densidad, inplace=True, axis=1)
densidad

           Code  Year  Population  Population_per_square_kilometre
0     E09000001  1999        6581                           2266.2
1     E09000001  2000        7014                           2415.3
2     E09000001  2001        7359                           2534.1
3     E09000001  2002        7280                           2506.9
4     E09000001  2003        7115                           2450.1
...         ...   ...         ...                              ...
1867  E13000002  2046     6573194                           5240.8
1868  E13000002  2047     6598789                           5261.2
1869  E13000002  2048     6622921                           5280.4
1870  E13000002  2049     6647527                           5300.1
1871  E13000002  2050     6671295                           5319.0

[1872 rows x 4 columns]

In [ ]:
#Renombramos las columnas para poder hacer las uniones entre los distintos datasets
densidad=densidad.rename(columns={"Population":"Poblacion", "Population_per_square_kilometre":"Poblacion_m2"})
densidad

           Code  Year  Poblacion  Poblacion_m2
0     E09000001  1999       6581        2266.2
1     E09000001  2000       7014        2415.3
2     E09000001  2001       7359        2534.1
3     E09000001  2002       7280        2506.9
4     E09000001  2003       7115        2450.1
...         ...   ...        ...           ...
1867  E13000002  2046    6573194        5240.8
1868  E13000002  2047    6598789        5261.2
1869  E13000002  2048    6622921        5280.4
1870  E13000002  2049    6647527        5300.1
1871  E13000002  2050    6671295        5319.0

[1872 rows x 4 columns]

##DATASET CRIMENES

In [ ]:
crimenes = pd.read_csv('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/crime-rates.csv')
crimenes.head()

        Code               Borough  ...   Rate Number_of_offences
0  E09000002  Barking and Dagenham  ...  120.5             19,567
1  E09000003                Barnet  ...   98.0             30,708
2  E09000004                Bexley  ...   95.1             20,680
3  E09000005                 Brent  ...  127.7             33,253
4  E09000006               Bromley  ...   89.8             26,474

[5 rows x 6 columns]

###ANALISIS DE DATOS

In [ ]:
descripcionDatosDataset(crimenes)

Cantidad de filas: 6660
Cantidad de columnas: 6
----------------------------------------------------------------------------------------------------
Columna: Code
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['E09000002' 'E09000003' 'E09000004' 'E09000005' 'E09000006' 'E09000007'
 'E09000008' 'E09000009' 'E09000010' 'E09000011']
-- Cantidad de nulos: 180 = 2.70%
----------------------------------------------------------------------------------------------------
Columna: Borough
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Barking and Dagenham' 'Barnet' 'Bexley' 'Brent' 'Bromley' 'Camden'
 'Croydon' 'Ealing' 'Enfield' 'Greenwich']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Year
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['1999-00' '2000-01' '2001-02' '2002-03' '2003-04' '2004-05' '2005-06'
 '2006-07' '2007-08' '2008-09']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Offences
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['All recorded offences' 'Violence Against the Person' 'Sexual Offences'
 'Robbery' 'Burglary' 'Theft and Handling' 'Fraud or Forgery'
 'Criminal Damage' 'Drugs' 'Other Notifiable Offences']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Rate
Tipo de datos: numérico
Descripción de valores:
min         0.000000
max       463.000000
mean       22.939354
std        38.763056
median      8.800000
Name: Rate, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Number_of_offences
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['19,567' '30,708' '20,680' '33,253' '26,474' '45,800' '37,743' '38,737'
 '28,588' '29,991']
-- Cantidad de nulos: 69 = 1.04%
----------------------------------------------------------------------------------------------------

###LIMPIEZA

In [ ]:
col_eliminar_crimenes=["Borough", "Offences", "Rate"]
crimenes.drop(col_eliminar_crimenes, inplace=True, axis=1)
crimenes

           Code     Year Number_of_offences
0     E09000002  1999-00             19,567
1     E09000003  1999-00             30,708
2     E09000004  1999-00             20,680
3     E09000005  1999-00             33,253
4     E09000006  1999-00             26,474
...         ...      ...                ...
6655        NaN  2016-17              1,081
6656  E13000001  2016-17              6,041
6657  E13000002  2016-17              6,637
6658  E12000007  2016-17             13,759
6659        727  2016-17                NaN

[6660 rows x 3 columns]

In [ ]:
#Cambio el formato de la fercha de los crimenes solo no interesa el anyo
crimenes["Year"]=crimenes["Year"].map(lambda x: str(x)[:-3])
crimenes["Year"]

0       1999
1       1999
2       1999
3       1999
4       1999
        ...
6655    2016
6656    2016
6657    2016
6658    2016
6659    2016
Name: Year, Length: 6660, dtype: object

##DATASET PRECIO VIVIENDA

In [ ]:
p_vivienda = pd.read_csv('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/land-registry-house-prices-borough.csv')
p_vivienda.head()

        Code                  Area                  Year Measure    Value
0  E09000001        City of London  Year ending Dec 1995  Median  105,000
1  E09000002  Barking and Dagenham  Year ending Dec 1995  Median   49,000
2  E09000003                Barnet  Year ending Dec 1995  Median   85,125
3  E09000004                Bexley  Year ending Dec 1995  Median   62,000
4  E09000005                 Brent  Year ending Dec 1995  Median   68,000

###ANALISIS DE DATOS

In [ ]:
descripcionDatosDataset(p_vivienda)

Cantidad de filas: 12015
Cantidad de columnas: 5
----------------------------------------------------------------------------------------------------
Columna: Code
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['E09000001' 'E09000002' 'E09000003' 'E09000004' 'E09000005' 'E09000006'
 'E09000007' 'E09000008' 'E09000009' 'E09000010']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Area
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['City of London' 'Barking and Dagenham' 'Barnet' 'Bexley' 'Brent'
 'Bromley' 'Camden' 'Croydon' 'Ealing' 'Enfield']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Year
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Year ending Dec 1995' 'Year ending Mar 1996' 'Year ending Jun 1996'
 'Year ending Sep 1996' 'Year ending Dec 1996' 'Year ending Mar 1997'
 'Year ending Jun 1997' 'Year ending Sep 1997' 'Year ending Dec 1997'
 'Year ending Mar 1998']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Measure
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Median' 'Mean' 'Sales']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Value
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['105,000' '49,000' '85,125' '62,000' '68,000' '76,625' '114,000' '60,000'
 '75,000' '66,000']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------

###LIMPIEZA

In [ ]:
#Nos quedamos con las ventas
p_vivienda=p_vivienda.loc[p_vivienda["Measure"]=="Sales"]
p_vivienda

            Code                  Area                  Year Measure    Value
8010   E09000001        City of London  Year ending Dec 1995   Sales      165
8011   E09000002  Barking and Dagenham  Year ending Dec 1995   Sales    1,488
8012   E09000003                Barnet  Year ending Dec 1995   Sales    4,758
8013   E09000004                Bexley  Year ending Dec 1995   Sales    3,430
8014   E09000005                 Brent  Year ending Dec 1995   Sales    3,473
...          ...                   ...                   ...     ...      ...
12010  E12000008            South East  Year ending Dec 2017   Sales  148,025
12011  E12000009            South West  Year ending Dec 2017   Sales  102,292
12012  E92000001               England  Year ending Dec 2017   Sales  837,501
12013  W92000076                 Wales  Year ending Dec 2017   Sales   46,828
12014  K04000073     England And Wales  Year ending Dec 2017   Sales  884,329

[4005 rows x 5 columns]

In [ ]:
col_eliminar_vivienda=["Area", "Measure"]
p_vivienda.drop(col_eliminar_vivienda, inplace=True, axis=1)
p_vivienda

            Code                  Year    Value
8010   E09000001  Year ending Dec 1995      165
8011   E09000002  Year ending Dec 1995    1,488
8012   E09000003  Year ending Dec 1995    4,758
8013   E09000004  Year ending Dec 1995    3,430
8014   E09000005  Year ending Dec 1995    3,473
...          ...                   ...      ...
12010  E12000008  Year ending Dec 2017  148,025
12011  E12000009  Year ending Dec 2017  102,292
12012  E92000001  Year ending Dec 2017  837,501
12013  W92000076  Year ending Dec 2017   46,828
12014  K04000073  Year ending Dec 2017  884,329

[4005 rows x 3 columns]

In [ ]:
#Transformamos la columna anyo para poder unir el dataset al resto
p_vivienda["Year"]=p_vivienda["Year"].map(lambda x: str(x)[16:])
p_vivienda

            Code  Year    Value
8010   E09000001  1995      165
8011   E09000002  1995    1,488
8012   E09000003  1995    4,758
8013   E09000004  1995    3,430
8014   E09000005  1995    3,473
...          ...   ...      ...
12010  E12000008  2017  148,025
12011  E12000009  2017  102,292
12012  E92000001  2017  837,501
12013  W92000076  2017   46,828
12014  K04000073  2017  884,329

[4005 rows x 3 columns]

##DATASET CONSUMO ENERGETICO

In [ ]:
consumo = pd.read_csv('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/total-final-energy-consumption.csv')
consumo.head()

        Code                  Area  ...  Measurement        Value
0  E09000002  Barking and Dagenham  ...        Ktoe             0
1  E09000003                Barnet  ...        Ktoe             0
2  E09000004                Bexley  ...        Ktoe   0.008194822
3  E09000005                 Brent  ...        Ktoe             0
4  E09000006               Bromley  ...        Ktoe   0.002010728

[5 rows x 7 columns]

###ANALISIS DE DATOS

In [ ]:
descripcionDatosDataset(consumo)

Cantidad de filas: 23782
Cantidad de columnas: 7
----------------------------------------------------------------------------------------------------
Columna: Code
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['E09000002' 'E09000003' 'E09000004' 'E09000005' 'E09000006' 'E09000007'
 'E09000001' 'E09000008' 'E09000009' 'E09000010']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Area
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Barking and Dagenham' 'Barnet' 'Bexley' 'Brent' 'Bromley' 'Camden'
 'City of London' 'Croydon' 'Ealing' 'Enfield']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Year
Tipo de datos: numérico
Descripción de valores:
min       2005.000000
max       2015.000000
mean      2010.000000
std          3.162344
median    2010.000000
Name: Year, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: Fuel
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Coal' 'Manufactured fuels' 'Petroleum products' 'Gas' 'Electricity'
 'Bioenergy & wastes' 'All fuels' 'Consuming Sector']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Sector
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Industrial & Commercial' 'Domestic' 'Rail' 'Total' 'Industrial' 'Road'
 'Transport']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Measurement
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['Ktoe ' 'GWh']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: Value
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['0' '0.008194822' '0.002010728' '0.016002736' '0.091390626' '0.018665854'
 '0.057597245' '197.6987749' '111.9359672' '67.76162422']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------

###LIMPIEZA

In [ ]:
#Borramos las columnas que no necesitamos
consumo=consumo.loc[consumo["Measurement"]=="GWh"]
col_eliminar_consumo=["Area", "Measurement"]
consumo.drop(col_eliminar_consumo, inplace=True, axis=1)
consumo=consumo.astype("string")
#consumo=consumo(["Code","Year", "Fuel"], dtype="string")
consumo

            Code  Year              Fuel                   Sector        Value
11891  E09000002  2005              Coal  Industrial & Commercial            0
11892  E09000003  2005              Coal  Industrial & Commercial            0
11893  E09000004  2005              Coal  Industrial & Commercial  0.095305777
11894  E09000005  2005              Coal  Industrial & Commercial            0
11895  E09000006  2005              Coal  Industrial & Commercial  0.023384762
...          ...   ...               ...                      ...          ...
23777  N92000002  2015  Consuming Sector                Transport            0
23778  W92000004  2015  Consuming Sector                Transport            0
23779  S92000003  2015  Consuming Sector                Transport            0
23780  E92000001  2015  Consuming Sector                Transport            0
23781  K02000001  2015  Consuming Sector                Transport            0

[11891 rows x 5 columns]

In [ ]:
#Creamos un dataset por cada tipo de energia consumida
consumo_coal=consumo.loc[consumo["Fuel"]=="Coal"]
consumo_coal=consumo_coal.rename(columns={"Value": "Coal"})
consumo_coal.drop("Fuel", inplace=True, axis=1)

consumo_manuf=consumo.loc[consumo["Fuel"]=="Manufactured fuels"]
consumo_manuf=consumo_manuf.rename(columns={"Value": "Manufacturer"})
consumo_manuf.drop("Fuel", inplace=True, axis=1)

consumo_petroleum=consumo.loc[consumo["Fuel"]=="Petroleum products"]
consumo_petroleum=consumo_petroleum.rename(columns={"Value": "Petroleum"})
consumo_petroleum.drop("Fuel", inplace=True, axis=1)

consumo_gas=consumo.loc[consumo["Fuel"]=="Gas"]
consumo_gas=consumo_gas.rename(columns={"Value": "Gas"})
consumo_gas.drop("Fuel", inplace=True, axis=1)

consumo_elect=consumo.loc[consumo["Fuel"]=="Electricity"]
consumo_elect=consumo_elect.rename(columns={"Value": "Electricity"})
consumo_elect.drop("Fuel", inplace=True, axis=1)

consumo_bio=consumo.loc[consumo["Fuel"]=="Bioenergy & wastes"]
consumo_bio=consumo_bio.rename(columns={"Value": "Bionergy"})
consumo_bio.drop("Fuel", inplace=True, axis=1)

###UNION DATASETS

In [ ]:
from functools import reduce
dfs = [consumo_coal, consumo_manuf, consumo_petroleum, consumo_gas,consumo_elect,consumo_bio]
consumo_total = reduce(lambda left,right: pd.merge(left,right, how="outer"), dfs)
consumo_total

           Code  Year                   Sector  ...         Gas Electricity Bionergy
0     E09000002  2005  Industrial & Commercial  ...  325.524111  479.039394     <NA>
1     E09000003  2005  Industrial & Commercial  ...  808.225172  554.666592     <NA>
2     E09000004  2005  Industrial & Commercial  ...  895.424066  444.617436     <NA>
3     E09000005  2005  Industrial & Commercial  ...  639.532412  757.595565     <NA>
4     E09000006  2005  Industrial & Commercial  ...  567.762634  477.964961     <NA>
...         ...   ...                      ...  ...         ...         ...      ...
3097  N92000002  2015                     Road  ...        <NA>        <NA>     <NA>
3098  W92000004  2015                     Road  ...        <NA>        <NA>     <NA>
3099  S92000003  2015                     Road  ...        <NA>        <NA>     <NA>
3100  E92000001  2015                     Road  ...        <NA>        <NA>     <NA>
3101  K02000001  2015                     Road  ...        <NA>        <NA>     <NA>

[3102 rows x 9 columns]

##DATASET FESTIVOS

In [ ]:
festivos = pd.read_excel('/gdrive/My Drive/TFM-Roberto_Hernandez/datasets/Bank-holidays.xlsx')
festivos.head()

        Date         Holiday-Event Holiday-code
0 1995-01-01        New Year's Day            F
1 1995-01-02  New Year's Day-moved            M
2 1995-04-13  Previous Good Friday            P
3 1995-04-14           Good Friday            F
4 1995-04-17         Easter Monday            F

###ANALISIS DE DATOS

In [ ]:
descripcionDatosDataset(festivos)

Cantidad de filas: 141
Cantidad de columnas: 3
----------------------------------------------------------------------------------------------------
Columna: Date
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['1995-01-01T00:00:00.000000000' '1995-01-02T00:00:00.000000000'
 '1995-04-13T00:00:00.000000000' '1995-04-14T00:00:00.000000000'
 '1995-04-17T00:00:00.000000000' '1995-05-08T00:00:00.000000000'
 '1995-05-29T00:00:00.000000000' '1995-08-28T00:00:00.000000000'
 '1995-05-05T00:00:00.000000000' '1995-12-25T00:00:00.000000000']
-- Cantidad de nulos: 12 = 8.51%
----------------------------------------------------------------------------------------------------
Columna: Holiday-Event
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ["New Year's Day" "New Year's Day-moved" 'Previous Good Friday'
 'Good Friday' 'Easter Monday' 'Early May bank holiday'
 'Late May bank holiday' 'August Bank Holidays' 'Guy Fawkes Day'
 'Christmas Day']
-- Cantidad de nulos: 12 = 8.51%
----------------------------------------------------------------------------------------------------
Columna: Holiday-code
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['F' 'M' 'P' nan]
-- Cantidad de nulos: 12 = 8.51%
----------------------------------------------------------------------------------------------------

###LIMPIEZA

#DATASET FINAL

Unimos todos los dataset, usaremos el codigo del barrio como referencia

###UNION DATASETS

In [ ]:
#Unimos los dataset por el codigo y el anyo
dfs = [llamadas.astype("string"), viviendas_tr.astype("string")]
consumo_total = reduce(lambda left,right: pd.merge(left,right, how="outer"), dfs)
consumo_total

        IncidentNumber  DateOfCall  ... Notional Cost (£) Precio
0            235138081  2009-01-01  ...              <NA>   9.14
1               155091  2009-01-01  ...              <NA>   9.14
2               232091  2009-01-01  ...              <NA>   9.14
3               248091  2009-01-01  ...              <NA>   9.14
4               315091  2009-01-01  ...              <NA>   9.14
...                ...         ...  ...               ...    ...
1333524           <NA>        <NA>  ...              <NA>   7.72
1333525           <NA>        <NA>  ...              <NA>   7.91
1333526           <NA>        <NA>  ...              <NA>   8.04
1333527           <NA>        <NA>  ...              <NA>   7.88
1333528           <NA>        <NA>  ...              <NA>   7.84

[1333529 rows x 33 columns]

In [ ]:
#Unimos los dataset por el codigo y el anyo
dfs = [consumo_total, densidad.astype("string"), crimenes.astype("string"), p_vivienda.astype("string"), consumo_total]
consumo_total = reduce(lambda left,right: pd.merge(left,right, how="outer"), dfs)
consumo_total

KeyboardInterrupt: ignored

###ANALISIS DEL DATASET

##LIMPIEZA

##VALORES PERDIDOS

##OUTLIERS

##TRANSFORMACION

#MINERIA DE DATOS

#ALGORITMOS MACHINE LEARNING

#OPTIMZACION DE PARAMETROS